<div class="contents row">
  <div class="container">
    <h3>科目登録</h3>
    <%= form_with(model: @subject, local: true) do |f| %>
      <%= f.text_field :subject_name, placeholder: "科目名" %>
      <%= f.file_field :image %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>