<div class="subject-info">
  <p>投稿者：<%= @user.nickname %></p>
</div>
<div class="posting">
  <%= link_to "教材投稿", new_subject_teaching_material_path(@subject), class: "posti" %>
  <% @teaching_materials.each do |teaching_material| %>
    <div class="#">
      <%= link_to teaching_material.title %>
    </div>
  <% end %>
  <%= link_to "考査問題投稿", "#", class: "posti" %>
</div>