/* Main Content */
.contents {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  margin: 10px;
}

/* Subject */
.subject-image {
  width: 250px;
  height: 350px;
  margin: 0 auto; /* 画像を中央に配置 */
}

/* Subject Name */
.subject-name {
  text-align: center; /* テキストを中央に配置 */
  margin-right: 40px; /* 上部に余白を追加 */
  border: 1px solid #ccc; /* 枠線のスタイルと色を指定 */
  padding: 10px; /* 文字と枠の間にスペースを追加 */
  font-family: Arial, sans-serif; /* 書体を指定 */
  font-size: 16px; /* 文字サイズを指定 */
  width: 250px;
  background-color: greenyellow;
}

.delete-button2 {
  border: solid 1px;
  border-radius: 1px;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  display: block;
  width: 250px;
  text-align: center;
}

