.contents-new {
  margin-top: 20px;
}

.container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.container h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.container form {
  display: grid;
  grid-gap: 10px;
}

.container form input[type="text"], .container form input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container form input[type="submit"]:hover {
  background-color: #0056b3;
}