.posting {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
}

.poston {
  width: 400px;
  margin: 0 10px 10px 35px;
  padding: 5px 10px;
  border: 1px solid #333;
}

.posti {
  height: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  font-weight: bold;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
}

.posti:hover {
  background-color: #e0e0e0;
}

.teaching_material_title{
  display: block;
  margin: 5px;
  text-decoration: none;
}

/* Subject Info */
.subject-info {
  max-width: 910px;
  margin: 20px auto;
}

.subject-info p {
  font-style: italic;
}
