<div class="contents-new">
  <div class="container">
    <h3>問題投稿</h3>
    <%= form_with(model: [@subject, @exam], local: true) do |f| %>
      <%= f.text_field :title, placeholder: "タイトル" %>
      <%= f.file_field :files, multiple: true %>
      ※2つ目にPDFデータを選択してください
      <%= f.submit "投稿" %>
    <% end %>
  </div>
</div>